@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* header */

.header{
  height: 10vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #B2987D;
}

.button span {
  font-size: 16px;
}


/* section */
.Imagem_home{
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.section{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 40px;

}

.section h1{
  text-align: center;
  font-size: 4em;
  padding-top: 60px;
 

}

.section h4{
  font-size: 20px;
  text-align: center;
  
}

.section p{
  font-size: 18px;
  text-align: center;
}

.section .kelly{
  font-family: "Great Vibes", cursive;
  color: #B2987D;
  font-size: 60px;
}

/* dark mode */


.dark_mode{
  background-color: black;
  height: 100;
}


.dark_mode .header img{
  filter: invert(1) brightness(2);
}

.dark_mode .button {
  color: white;
 background-color: black;
}

.dark_mode .section h1{
  color: white;
}

.dark_mode .section h4{
  color: white;
}

.dark_mode .section p{
  color: white;
}

.dark_mode .section .kelly{
  color: #B2987D;
}

/* responsividade */

@media (max-width:900px) {
  .dark_mode{
    background-color: black;
    height: 100%;
  }
  
  .section h1{
    text-align: center;
    font-size: 2em;
    padding-top: 60px;
   
  
  }
 
  .section h4{
    font-size: 1em;
    text-align: center;
    
  }
  
  .section p{
    font-size: 1em;
    text-align: center;
  }
  
  .section .kelly{
 
    font-size: 2em;
  }
  
}


@media (max-width:450px) {


  .dark_mode{
    background-color: black;
    height: 100%;
  }
  
  
.button {
  height: 40px;

}

  .section h1{
    text-align: center;
    font-size: 1.6em;
    padding-top: 60px;
   
  
  }
}